@switch (iconName()) {
    @case ('home') {
        <div home-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('lightning') {
        <div lightning-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('location') {
      <div lightning-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
  }
    @case ('plus') {
        <div plus-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('sessions') {
        <div sessions-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('euro') {
        <div euro-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('rate') {
      <div euro-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
  }
    @case ('lock') {
        <div lock-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('bell') {
      <div bell-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('question-circle') {
      <div question-circle-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('dots-grid') {
      <div dots-grid-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('exclamation-triangle') {
      <div exclamation-triangle-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('check-circle') {
      <div check-circle-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('unlock') {
      <div unlock-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('cloud-slash') {
      <div cloud-slash-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('search') {
      <div search-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('check') {
      <div check-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('close') {
      <div close-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('chart-breakout-circle') {
      <div chart-breakout-circle-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @case ('git-branch') {
      <div git-branch-icon class="d-flex" [selected]="selected()" [disabled]="disabled()" ></div>
    }
    @default {}
}
